<h4 *ngIf="title">
  {{title}}
</h4>
<hr/>
<br/>
<app-forms 
  id="appForm" 
  [questions]="questions" 
  (formAction)="formAction($event)"
>
  Loading form . . .
</app-forms>

<!--TODO:
  - CREATE LIST COMPONENT:
  Try to imiate `app-forms` to create lists
  should render:
  <ul>
    <li *ngFor="let task of tasks">
      key ____:____ value 
    </li>
  </ul>

<app-list id="taskList" [items]="tasks">
</app-list>


- CREATE TABLE COMPONENT:
  Try to imiate `app-forms` to create tables
  should render:
  <table>
    <tr>
      <td>Key</td>
      <td>Value</td>
    </tr>
  </table>

<app-table id="taskTable" [rows]="tasks">
</app-table>
-->
