<app-forms id="taskForm" [questions]="questions" 
  (onFormSubmit)="onFormSubmit($event)">
</app-forms>
  <br/>
  <div *ngFor="let task of tasks">
    {{task.name}} > {{task.info}}
  </div>


<!--TODOS:

  NOTE: Before working on these components, 
  need to finish getting data from the form 
  into the `task.component` in order to update 
  and repopulate these components listed below.

  - CREATE LIST COMPONENT:
  Try to imiate `app-forms` to create lists
  should render:
  <ul>
    <li *ngFor="let task of tasks">
      key ____:____ value 
    </li>
  </ul>

<app-list id="taskList" [tasks]="tasks">
</app-list>


- CREATE TABLE COMPONENT:
  Try to imiate `app-forms` to create tables
  should render:
  <table>
    <tr>
      <td>Key</td>
      <td>Value</td>
    </tr>
  </table>

<app-table id="taskTable" [tasks]="tasks">
</app-table>
-->
