.question_info{
  font-weight: bold;
  color: chocolate;
}
  .question_info.key{
    text-transform: uppercase;
    color: cadetblue;
  }
:host >>> .app-form-group {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
:host >>> .app-form-control{
  width:100%;
  max-width: 600px;
  padding: 5px;
}
:host >>> .app-form-error-message {
  color: red;
}