.question_info{
  font-weight: bold;
  color: chocolate;
}
  .question_info.key{
    text-transform: uppercase;
    color: cadetblue;
  }
:host >>> .app-form-group {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
  :host >>> .app-form-group textarea {
    min-height: 100px;
  }
  :host >>> .app-form-group input[type="checkbox"] {
    width:0;
    margin-right: 5px;
    text-align: left;
  }
:host >>> .app-form-control{
  width:100%;
  max-width: 600px;
  padding: 5px;
}
:host >>> .app-form-error-message {
  color: red;
}

:host >>> button {
  padding: 5px;
  border: 1px #b2b2b2 solid;
}

  :host >>> button:hover {
    background: white;
    cursor: pointer;
  }