.question_info{
  font-weight: bold;
  color: chocolate;
}
  .question_info.key{
    text-transform: uppercase;
    color: cadetblue;
  }
:host >>> .app-form-group {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
  :host >>> .app-form-group textarea {
    min-height: 150px;
    max-width: 600px;
    width:100%;
  }
  :host >>> .app-form-group input[type="checkbox"],
  :host >>> .app-form-group input[type="radio"] {
    width:0;
    margin-right: 5px;
    text-align: left;
  }
:host >>> .app-form-control{
  width:100%;
  max-width: 600px;
  padding: 5px;
}
:host >>> .app-form-error-message {
  color: red;
}

:host >>> button {
  padding: 5px;
  border: 1px #b2b2b2 solid;
}

  :host >>> button:hover {
    background: white;
    cursor: pointer;
  }

:host >>> select,
:host >>> button,
:host >>> textarea,
:host >>> input
:host >>> .no-focus {
  border: 2px #b2b2b2 solid;
} 
  :host >>> select:hover,
  :host >>> button:hover,
  :host >>> textarea:hover,
  :host >>> input:hover,
  :host >>> .no-focus:hover {
    border: 2px chocolate solid;
  }
  :host >>> button:focus,
  :host >>> input:focus,
  :host >>> textarea:focus,
  :host >>> select:focus,
  :host >>> .no-focus:focus {
    box-shadow: 0;
    outline: none;
    border: 2px cadetblue solid;
  }